<div class="panel panel-primary">
    <div class="panel-heading">Pool Information</div>
    <div class="panel-body">
        <dl>
            <dt>1 Feb 2016</dt>
            <dd>High latency problem fixed, per-day payments increased by 0.5-1%</dd>
        </dl>
        <dl>
            <dt>15 Dec 2015</dt>
            <dd>BTC38 exchange recommended for XPM trading</dd>
        </dl>
        <dl>
            <dt>8 Jul 2015</dt>
            <dd>First Cunningham chain with length 14 found! Block height is 1144207, wallet address - AHwfa****</dd>
        </dl>
        <dl>
            <dt>28 Jun 2015</dt>
            <dd>Xpmclient 10.0beta released</dd>
        </dl>
        <dl>
            <dt>7 Apr 2015</dt>
            <dd>Share checking method changed</dd>
        </dl>
        <dl>
            <dt>12 Feb 2015</dt>
            <dd>Check your miner config, it must contains target = "10"; Don't use values less than 10, you will got a penalty</dd>
        </dl>
        <dl>
            <dt>1 Feb 2015</dt>
            <dd>BTC-E delisted Primecoin, Cryptsy for XPM/BTC price informing used</dd>
        </dl>
    </div>
</div>